:root { /* Colors definition */
    --white: #ecf0f1;
    --black: #000;
    --background-color: #3c3e45;
    --blue-birds: #0096d1;
    --light-green: #accbac;
    --red: #d02020;
    --darker-grey: rgba(23, 21, 21, 0.525); 
    --dark-green: rgb(43, 89, 57);
}

*{ /* General modifications */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:var(--background-color);    
    font-family: sans-serif;
    color:var(--white);
    text-decoration: none;
    text-align: center;
    
}

body{ /* Body related modifications */
    align-items: center;
    padding: 30px 10%;              
    background-color: color(var(--background-color));
    overflow-x: hidden;
}
.wrapper{  
    display: grid;
}
.container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.nav a { /* unvisited link*/
    color:var(--blue-birds);
}

.nav a:visited { /* visited link*/
    color:var(--light-green);
}

.nav a.active { /* current link*/
    color: var(--white);
    font-weight: bold;
    text-decoration: underline;
}

.nav a:hover {
    color: var(--black);
    cursor: pointer;
}

a:hover{
    color: var(--black);
    cursor: pointer;
}

.safe-guide {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid var(--darker-grey); 
    border-radius: 10px;
    box-shadow: var(--darker-grey); 
    margin-bottom: 3em;
    text-align: center;
}

h1 {
    font-size: 27px;
    margin-bottom: 30px;
}

h2 {
    font-size: 23px;
    margin: 2px; 
}

details {
    margin-top: 10px;
    margin-bottom: 15px;
}
  
details p {
    margin:5px;
}

.header{/* header related modifications */
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10%;   
    text-align: center;   
    padding-bottom: 2em;    
    margin: 30px;    
}

h2{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    text-align: center;     
}

li,a{   /*,button{ */
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.logo{
    cursor: pointer;
}

.nav {
    width: 100%;
    list-style: none;
    top: 0;
    justify-content: space-around;
    height: 150px;
    display: flex;
    z-index: 1;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav li {
    display: inline-block;
    padding: 0px 5px;
    height: fit-content;
}

.nav li a{
    transition: all 0.3s ease 0s;
}

.page-menu {
    width: 30%;
}

.page-menu ul { /* the menu should be horizontal */
    display: flex;
    justify-content: space-around;
    padding-top: 7%;
}

.page-menu li {
    list-style: none;
    margin: 0;
    padding: 1px;
}

.page-menu a {
    color: var(color black);
    text-decoration: none;
}
    
.page-icon{
    float: left;
    width: 25%;
    margin: 1% 0;
}

a.active {
    text-decoration: underline;
}

.ad{
    display: flex; flex-wrap: wrap;
}

.ad-format{
    flex: 0 0 33.33%; 
    box-sizing: border-box; 
    padding: 10px; 
    text-align: center;
}

img{
    max-width: 100%; 
    height: auto;
}

p{
    font-weight: bold; 
    font-size: smaller;  
}

ul{
    text-align: left; 
    margin-top: 5px;
}

.ul{
    color: #ecf0f1; 
    display: inline-block;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    height: fit-content;
}

button:hover {
    color: var(--black);
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}
 .dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--black);
    padding: 1em;
    justify-content: center ;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    top:100%
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    flex-direction: column;
    font-size: 16px;
    opacity: 1;
} 

.dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    visibility: visible;
    padding: 5px;
}

.banner-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    align-items: center;
    width: 90%;
    transition: 0.3s;
    margin-bottom: 7%;
}

#form-about{
    height: 50vh;
    font-weight: 900;
    grid-column-start:1;
    grid-column-end: 3;
    
}

.contact-form{
    margin:10%;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    
}

.contact-form input{
    background: var(color #ecf0f1);
}

.contact-form input[type=text] , .contact-form input[type=email] {
    width: 100%;
    border: 2px solid;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1em 1em;
    box-sizing: border-box;
}

.contact-form input[type=tel]{
    border: 2px solid;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1em 1em;   
}

.user-info{
    padding :5%;
    margin-bottom: 1%;
}

.footer{
    width: 100%;
    color: var(--white);
    text-align: flex;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p{
    font-style: italic;
    margin-bottom: 0;
}

.headers{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 900;
    font-size: 30px;
}  

.car-details {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 900;
    font-size: 30px;
}


.car-details p{
    font-weight: 600;
    font-size: 20px;
}

.porsche-details {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
}

h2{
    font-size: 15px; 
}

details{
    font-size: 15px; 
}

p{
    font-size: 13px;  
}

table, th, td {
    border: 2px solid var(--dark-green);
    border-collapse: separate;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}

.maintxt {
    font-size: 16px;
}


.flex {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2,450px);
    justify-content: center;
}

.warning-banner {
    display: flex;
    align-items: center;
    margin: 1em;
}

input[type=submit] {
    background-color: var(--darker-grey);
    border: 2px;
    color: white;
    padding: 1em 1em;
    margin: 4px 2px;
    cursor: pointer;
}
textarea {
    width: 100%;
    height: 100px;
    padding: 1em 1em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: var(--white-inputs);
    resize: none;
}

.social {
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    margin-bottom: 1em;
    margin-top: 3em;
}

.social ul {
    display: flex;
    justify-content: space-around;
    
}

.social li {
    list-style: none;
}

.social a {
    text-decoration: none;
}

input[type=radio]{
    padding: 1em 1em;
    margin-left: 5%;
}

.about{
    display: flex; 
    margin-bottom: 20px;
}

.info{
    flex: 0 0 70%; 
    box-sizing: 
    border-box; 
    padding: 10px;
}

ul{
    list-style-type: none; 
    padding: 0; 
    margin-top: 10px;
}

.picname {
    flex: 0 0 30%; 
    box-sizing: border-box; 
    padding: 10px; 
    text-align: center;
}
img{
    max-width: 50%; 
    height: auto;
}

p{
    font-weight: bold; 
    margin-top: 10px;
}


/* Large devices */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .page-icon {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .warning-banner {
        width: 185%;
    }

    .page-menu {
        width: 35%;
    }

    .social ul { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner {
        display: flex;
        flex-direction: row;
    }


    .banner-left h2 {
        margin: 2%;
        font-size: 1rem;
    }

    .banner .banner-left p {
        margin: 2% 2% 8% 2%;
        font-size: 0.7rem;
    }

    .about-header {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-header img {
        width: 100%;
        border-radius: 2%;
    } 

    .contact-form{
        grid-column-start: 1;
        grid-column-end: 3;
    }

}

/* Medium devices */
@media screen and (max-width: 768px) {
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .page-icon {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .page-menu {
        width: 80%;
    }

    .warning-banner {
        width: 170%;
    }

    .social ul { /* footer should be vertical in smaller screens */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner {
        display: flex;
        flex-direction: row;
    }

    .banner .banner-left h2 {
        margin: 2%;
        font-size: 1rem;
    }

    .banner .banner-left p {
        margin: 2% 2% 8% 2%;
        font-size: 1rem;
    }

    .banner img{
        width: 80%;
    }

   .section-title h2 {
        font-size: 2rem;
    }

    .about-header {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-header img {
        width: 45%;
        border-radius: 2%;
    } 

    .contact-form{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

/* Extra small devices */
@media only screen and (max-width: 600px) {
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .page-icon {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .page-menu {
        width: 80%;
    }
    
    .warning-banner {
        width: 120%;
    }

    .social ul { /* footer should be vertical in smaller screens */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner {
        display: flex;
        flex-direction: row;
    }

    .banner .banner-left h2 {
        margin: 2%;
        font-size: 1.5rem;
    }

    .banner .banner-left p {
        margin: 2% 2% 8% 2%;
        font-size: 1rem;
    }

    .banner img{
        width: 60%;
    }

    .section-title h2 {
        font-size: 1.5rem;
    }

    .about-header {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-header img {
        width: 50%;
        border-radius: 2%;
    }

    #form-wrapper{
        display: grid;

    }

    .main-container{
        display: grid;
        grid-auto-rows: minmax(200px, auto);
        grid-template-columns: 3fr 1fr;
    }

    .contact-form{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

/* FORM CSS */
.pure-button {
    /* Structure */
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    box-sizing: border-box;
    display: flex;
    align-items: flex;
    justify-content: flex;
}

    /* Firefox: Get rid of the inner focus border */
    .pure-button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

/* Inherit .pure-g styles */
.pure-button-group {
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}

.opera-only :-o-prefocus,
.pure-button-group {
    word-spacing: -0.43em;
}

    .pure-button-group .pure-button {
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

.pure-button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: rgba(0, 0, 0, 0.80);
    border: none rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

    .pure-button-hover,
    .pure-button:hover,
    .pure-button:focus {
        background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    }

    .pure-button:focus {
        outline: 0;
    }

    .pure-button-active,
    .pure-button:active {
        box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
        border-color: #000;
    }

    .pure-button[disabled],
    .pure-button-disabled,
    .pure-button-disabled:hover,
    .pure-button-disabled:focus,
    .pure-button-disabled:active {
        border: none;
        background-image: none;
        opacity: 0.40;
        cursor: not-allowed;
        box-shadow: none;
        pointer-events: none;
    }

.pure-button-hidden {
    display: none;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

/* Button Groups */
.pure-button-group .pure-button {
    margin: 0;
    border-radius: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

    .pure-button-group .pure-button:first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    .pure-button-group .pure-button:last-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-right: none;
    }

.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0.5em;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]) {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.pure-form input[type="color"] {
    padding: 0.2em 0.5em;
}


    .pure-form input[type="text"]:focus,
    .pure-form input[type="password"]:focus,
    .pure-form input[type="email"]:focus,
    .pure-form input[type="url"]:focus,
    .pure-form input[type="date"]:focus,
    .pure-form input[type="month"]:focus,
    .pure-form input[type="time"]:focus,
    .pure-form input[type="datetime"]:focus,
    .pure-form input[type="datetime-local"]:focus,
    .pure-form input[type="week"]:focus,
    .pure-form input[type="number"]:focus,
    .pure-form input[type="search"]:focus,
    .pure-form input[type="tel"]:focus,
    .pure-form input[type="color"]:focus,
    .pure-form select:focus,
    .pure-form textarea:focus {
        outline: 0;
        border-color: #129FEA;
    }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]):focus {
    outline: 0;
    border-color: #129FEA;
}

.pure-form input[type="file"]:focus,
.pure-form input[type="radio"]:focus,
.pure-form input[type="checkbox"]:focus {
    outline: thin solid #129FEA;
    outline: 1px auto #129FEA;
}

.pure-form .pure-checkbox,
.pure-form .pure-radio {
    margin: 0.5em 0;
    display: block;
}

.pure-form input[type="text"][disabled],
.pure-form input[type="password"][disabled],
.pure-form input[type="email"][disabled],
.pure-form input[type="url"][disabled],
.pure-form input[type="date"][disabled],
.pure-form input[type="month"][disabled],
.pure-form input[type="time"][disabled],
.pure-form input[type="datetime"][disabled],
.pure-form input[type="datetime-local"][disabled],
.pure-form input[type="week"][disabled],
.pure-form input[type="number"][disabled],
.pure-form input[type="search"][disabled],
.pure-form input[type="tel"][disabled],
.pure-form input[type="color"][disabled],
.pure-form select[disabled],
.pure-form textarea[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type])[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly] {
    background-color: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}

.pure-form input:focus:invalid,
.pure-form textarea:focus:invalid,
.pure-form select:focus:invalid {
    color: #b94a48;
    border-color: #e9322d;
}

.pure-form input[type="file"]:focus:invalid:focus,
.pure-form input[type="radio"]:focus:invalid:focus,
.pure-form input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}

.pure-form select {
    /* Normalizes the height; padding is not sufficient. */
    height: 2.25em;
    border: 1px solid #ccc;
    background-color: white;
}

    .pure-form select[multiple] {
        height: auto;
    }

.pure-form label {
    margin: 0.5em 0 0.2em;
}

.pure-form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}

.pure-form legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: var(--white);
    border-bottom: 1px solid #e5e5e5;
}

.pure-form-stacked input[type="text"],
.pure-form-stacked input[type="password"],
.pure-form-stacked input[type="email"],
.pure-form-stacked input[type="url"],
.pure-form-stacked input[type="date"],
.pure-form-stacked input[type="month"],
.pure-form-stacked input[type="time"],
.pure-form-stacked input[type="datetime"],
.pure-form-stacked input[type="datetime-local"],
.pure-form-stacked input[type="week"],
.pure-form-stacked input[type="number"],
.pure-form-stacked input[type="search"],
.pure-form-stacked input[type="tel"],
.pure-form-stacked input[type="color"],
.pure-form-stacked input[type="file"],
.pure-form-stacked select,
.pure-form-stacked label,
.pure-form-stacked textarea {
    display: block;
    margin: 0.25em 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form-stacked input:not([type]) {
    display: block;
    margin: 0.25em 0;
}

.pure-form-aligned input,
.pure-form-aligned textarea,
.pure-form-aligned select,
.pure-form-message-inline {
    display: inline-block;
    vertical-align: middle;
}

.pure-form-aligned textarea {
    vertical-align: top;
}

/* Aligned Forms */
.pure-form-aligned .pure-control-group {
    margin-bottom: 0.5em;
}

    .pure-form-aligned .pure-control-group label {
        text-align: right;
        display: inline-block;
        vertical-align: middle;
        width: 10em;
        margin: 0 1em 0 0;
    }

.pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 11em;
}

/* Rounded Inputs */
.pure-form input.pure-input-rounded,
.pure-form .pure-input-rounded {
    border-radius: 2em;
    padding: 0.5em 1em;
}

/* Grouped Inputs */
.pure-form .pure-group fieldset {
    margin-bottom: 10px;
}

.pure-form .pure-group input,
.pure-form .pure-group textarea {
    display: block;
    padding: 10px;
    margin: 0.5em;
    border-radius: 0;
    position: relative;
    top: -1px;
}

    .pure-form .pure-group input:focus,
    .pure-form .pure-group textarea:focus {
        z-index: 3;
    }

    .pure-form .pure-group input:first-child,
    .pure-form .pure-group textarea:first-child {
        top: 1px;
        border-radius: 4px 4px 0 0;
        margin: 0;
    }

        .pure-form .pure-group input:first-child:last-child,
        .pure-form .pure-group textarea:first-child:last-child {
            top: 1px;
            border-radius: 4px;
            margin: 0;
        }

    .pure-form .pure-group input:last-child,
    .pure-form .pure-group textarea:last-child {
        top: -2px;
        border-radius: 0 0 4px 4px;
        margin: 0;
    }

.pure-form .pure-group button {
    margin: 0.35em 0;
}

.pure-form .pure-input-1 {
    width: 100%;
}

.pure-form .pure-input-3-4 {
    width: 75%;
}

.pure-form .pure-input-2-3 {
    width: 66%;
}

.pure-form .pure-input-1-2 {
    width: 50%;
}

.pure-form .pure-input-1-3 {
    width: 33%;
}

.pure-form .pure-input-1-4 {
    width: 25%;
}

/* Inline help for forms */
.pure-form-message-inline {
    display: inline-block;
    padding-left: 0.3em;
    color: #666;
    vertical-align: middle;
    font-size: 0.875em;
}

/* Block help for forms */
.pure-form-message {
    display: block;
    color: #666;
    font-size: 0.875em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}